export(mpANISOSTATIS.core, mpDISTATIS.core, mpDISTATIS, mpMFA, mpSTATIS.columnPreproc, mpSTATIS.core, mpSTATIS.optimize, mpSTATIS.preprocess, mpSTATIS, mpSTATIS.rowPreproc, mpSTATIS.tablePreproc, print.mpSTATIS, print.mpDISTATIS, print.distatis.table, print.statis.overview, print.statis.innerproduct, print.statis.table, print.mpGraphs, print.mexPosition.Output, print.distatis.overview, print.distatis.innerproduct, print.distatis.compromise, mpTableCheck, print.mpMFA, matrixTrace, mpGraphs)
