export(caChiTest, epCA.inference.battery, epGPCA.inference.battery, epMCA.inference.battery, epPCA.inference.battery, inGraphs, boot.compute.fj, boot.ratio.test, boot.samples, continueResampling, contingency.data.break)